<div id="message-<%= message.id %>" class="message">

  <small>
    <p><strong><%= message.user.name %></strong></p>
    <p><%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
  </small>

<p><%= message.content %></p>
</div>
