<div id="message-<%= message.id %>" class="message <%= message.user === user ? 'sent' : 'received' %>">


<p class="message-content"><%= message.content %>
<br>
  <small class="message-info">
    <%= message.created_at.strftime("%I:%M %p") %>
  </small>
</p>
</div>
