// Define variables for your color scheme

// Primary color
$primary-navy: #133E87; //NAVY BLUE

// Secondary colors
$secondary-blue: #6C99D2; //LIGHT BLUE

// Accent colors
$accent-orange: #FFA725; //ORANGE

// Background colors
$background-creamy-white: #FFF5E4; //LIGHT CREAM
$background-dirty-white: #F4F0E9;  //OFF WHITE
