.interests-container-profile {
  justify-content: start;
}

.interest-profile {
  display: flex;
  padding: 0px 10px;
  border: 1px solid $secondary-blue;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.input-button-group {
  display: flex;
  align-items: stretch;
  margin-right: 10px;
}

.input-field {
  border: 1px solid $secondary-blue;
  flex: 1;
  border-right: none;
  border-radius: 0.2rem;
}

.submit-button {
  border: 1px solid $secondary-blue;
  background-color: white;
  cursor: pointer;
  border-radius: 0.2rem;
}

.profile-page-border {
  border-bottom: 1px solid $gray-200;
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
