.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 1rem;
}

.interest-common {
  padding: 0px 10px;
  border: 1.5px solid $accent-orange;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.interest {
  padding: 0px 10px;
  border: 1px solid $secondary-blue;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.interest-profile {
  display: flex;
  padding: 0px 10px;
  border: 1px solid $secondary-blue;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.main-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.chain-emoji {
  width: 40px;
  height: 40px;
}
