<div class="footer bg-warning">
  <div class="footer-icons d-flex justify-content-around align-items-center pt-2">

    <%= link_to :root, class: "text-dark" do %>
    <i class="fa fa-users fa-2x"></i>
    <% end %>

    <div class="search-icon border rounded-circle">
      <%= link_to :root, class: "text-dark mb-4" do %>
      <i class="fa fa-search fa-3x"></i>
      <% end %>
    </div>

    <%= link_to :root, class: "text-dark" do %>
    <i class="fa fa-user fa-2x"></i>
    <% end %>

  </div>
</div>
