<section data-controller="intromodal">

  <header class="main-header" id="header">
    <a href="/"><img src="<%= asset_path('TripLink.png') %>" alt="Logo" class="logo"></a>

    <i data-action="click->intromodal#show" class="fa-solid fa-question bell active"></i>
  </header>


  <div class="intromodal d-none" data-intromodal-target="canvas">
    <div class="modal-content">
    <span class="close" data-action="click->intromodal#close">&times;</span>
    <h1>Welcome to TripLink!</h1>
    <h2>Looking for an authentic travel experience?</h2> <h3> TripLink connects you with local guides who know the area, helping you discover hidden gems and unique stories for an unforgettable trip!</h3>
    <h3>We’re Valentijn, Timo, and Denise, students from Le Wagon, and we’re excited to share this unique journey with you.</h3>
    </div>
  </div>
</section>
