<header class="main-header">
  <div class="header-container">
    <a href="/"><img src="<%= asset_path('TripLink.png') %>" alt="Logo" class="logo"></a>
  </div>
</header>
<div class="hidden-header">

</div>
