

<header class="main-header" id="header" >
    <a href="/"><img src="<%= asset_path('TripLink.png') %>" alt="Logo" class="logo"></a>
    <!-- check if one of the guide_matches from the user has the status pending -->


        <% if user.guide_matches.any? { |match| match.status == "pending" } %>

          <% pending_match_count = user.guide_matches.where(status: 'pending').count %>

          <a href="matches" class="bell active">
            <span class="pending-match-count"><%= pending_match_count %></span>
            <i class="fa-solid fa-bell"></i>
          </a>

        <% else %>
          <i id="dynamicBell" class="fa-solid fa-bell bell <%= added_class %>"></i>
        <% end %>
</header>
