<div class="search-form-wrapper">
  <form action="">
    <div class="search-form row">
      <input type="text" class="search-form-input col-10" placeholder="Search for a location" />
      <input type="submit" class="search-form-submit col-2" value="->" />
    </div>
  </form>
</div>
