<div class="search-form-wrapper d-none" data-search-form-target="bar">
  <form action="/" method="post">
    <div class="search-form row">
      <input type="text" class="search-form-input col-10" name="location_search" placeholder="Search for a location" />
      <input type="submit" class="search-form-submit col-2" name="submit" value="→" />
    </div>
  </form>
</div>
