<% if location == nil %>
  <%# <div class="location-info-wrapper">empty window</div> %>
<% else %>

  <div class="location-info-wrapper" data-controller="location_details">
    <span data-action="click->location_details#closeLocationDetails">close</span>
    <% if defined?(location) %>
    <h1><%= location.name %></h1>
    <% end %>
    <% if defined?(guides) && guides.any? %>
      <h2>Guides</h2>
      <% guides.each do |guide| %>
        <h2><%= guide.name %></h2>
      <% end %>
    <% end %>
  </div>

<% end %>
