

<div  style="width: 100vw; height: 86.3vh; position: absolute; top: 8vh;"
      class="map-canvas"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
