<%# this is the map on the homepage %>
<div  style="width: 100vw; height: 87.2vh; position: absolute; top: 7vh;"
      class="map-canvas"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<%= turbo_frame_tag :location_details do %>
  <%= render "location_information_window", location: nil, guides: nil %>
<% end %>
