<div class="container">

  <!-- if no one logge in show the login button -->
  <% if user_signed_in? %>
    <h1>Profile page</h1>
    <h1> <%= @user.name%> </h1>

      <%= link_to "Edit this user", edit_user_registration_path, class: "col-5 btn btn-outline-primary mb-2" %>

      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "col-5 btn btn-outline-warning mb-2" %>

  <% else %>
    <p> <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %></p>
  <% end %>
</div>
