<div class="basic-padding">
  <div class="mt-3">
    <% if @matches_as_guide.empty? && @matches_as_tourist.empty? %>
      <h1 class="text-center mb-3">You have no connections</h1>
      <p class="text-center">Start connecting with a guide by looking for them on the map!</p>
    <% end %>

    <%= turbo_stream_from "incomming_matches-#{current_user.id}"%>

    <% if @matches_as_guide.empty? %>
      <%= render "matches_as_guide", locals: { matches: @matches_as_guide } %>
    <% else %>

      <h1>Your tourists</h1>
        <%= render "matches_as_guide", locals: { matches: @matches_as_guide } %>
    <% end %>

    <% if @matches_as_tourist.any? %>
      <br>
      <h1 class="guides-heading">Your guides</h1>
      <div class="location-divider2"></div>
      <%= render "matches_as_tourist", locals: { matches: @matches_as_tourist } %>
    <% end %>
  </div>
</div>
