.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  padding: 1rem;
}
.messages {
  height: 5rem;
  padding: 5px;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}
.new-message {
  width: 100%;
  textarea {
    width: 75vw;
  }
}

.message {
  display: flex;
  flex-direction: column;
}
.message-form {
  width: 100%;
}




.message-info {
  opacity: 0.5;
  text-align: center;
  width: fit-content;
  font-size: 0.6rem;
  color: $light-gray;
}

.message-content {
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  font-size: 0.8rem;
}

.message.sent .message-content {
  align-self: flex-end;
  background: $primary-navy;
  color: $light-gray;
}

.message.received .message-content {
  align-self: flex-start;
  background: $gray;
  color: $light-gray;
}

.chat-form {
  height: 4rem;
  input {
    height: 100%;
  }
  textarea {
    display: block;
    resize: vertical;
    overflow: resize;
  }

  .custom-btn-size {
    padding: 10px 24px;  /* Custom padding */
    font-size: 1.2rem;    /* Larger font size */
    height: 62px;         /* Set button height */
    width: 94px;
  }

  .message-content {
    position: fixed;
    bottom: 64px;
    width: 95%;
    background-color: #fff;
    padding: 2px;
  }
}
