.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 0px;
  border-top-left-radius: 1.4vh;
  border-top-right-radius: 1.4vh;
}

.footer-container {
  position: relative;
  background-color: $accent-orange;
  border-top-left-radius: 1.4vh;
  border-top-right-radius: 1.4vh;
  height: 6.5vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.text-grey {
  color: $gray;
}

.search-option {
  position: absolute;
  top: -8vw;
  left: calc(50% - 8vw);
  background-color: $accent-orange;
  color: white;
  border-radius: 50%;
  font-size: 7vw;
  height: 16vw;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.8vw solid $light-gray;
}
