// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "buttons";
@import "footer";
@import "form_legend_clear";
@import "header";
@import "images";
@import "location_popup";
@import "map";
@import "navbar";
@import "search_form_main";
@import "header";
@import "chat";
@import "matches";

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.content {
  padding-top: 5.15rem;
}

.basic-padding {
  padding: 0.8rem 0.5rem;
}
